* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

#navbar {
    /* border: 2px solid red; */
    background-color: rgba(0, 0, 0, 0.356);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Tilt Neon", sans-serif;

}

#logo {
    /* border: 2px solid red; */
    display: flex;
    width: 208px;
    align-items: center;
}

#logo img {
    /* border: 2px solid red; */
    height: 48px;
    margin: 8px;
}

#logo h4 {
    color: whitesmoke;
    /* border: 2px solid rebeccapurple; */
}

#navmid ul {
    /* border: 2px solid red; */
    display: flex;
    list-style: none;
}

#navmid ul li {
    /* border: 2px solid red; */
    margin: 8px;
}

#navmid ul li a {
    color: aliceblue;
    /* border: 2px solid red; */
    text-decoration: none;
    border-radius: 20px;
    padding: 10px;
}

#navmid ul li a:hover {
    color: black;
    background-color: whitesmoke;
}

/* HOME section */



#Home {
    /* border: 2px solid red; */
    height: 424px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: 2.4rem;
    font-family: "Outfit", sans-serif;
    padding: 64px;

}

.h-primary {
    margin-top: 60px;
}

#Home p {
    text-align: center;
    position: relative;
    top: 60px;
}

.for-background-only::before {
    content: "";
    background-color: black;
    background: url('spaghetti-1932466_1280.jpg') no-repeat center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

.btn {
    background: orange;
    border-radius: 40px;
    position: relative;
    top: 100px;
    font-size: 1.2rem;
    padding: 20px;
    cursor: pointer;
}

.btn:hover {
    color: beige;
}

#services-contanner {
    /* border: 2px solid red; */
    position: relative;
    top: 145px;
    font-size: 2rem;
}

.for-services-img::before {
    content: "";
    background: url('images.png');
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1;
}

#services-contanner h1 {
    /* border: 2px solid red; */
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;

}

#iteams {
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;


}

.box {
    border: 2px solid rgba(65, 105, 225, 0.658);
    border-radius: 25px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 28rem;
    padding: 10px;
    background: #f2f2f2e7;

}

#iteams img {
    height: 7.5rem;
}

#review {
    /* border: 2px solid red; */
    position: relative;
    top: 144px;
    font-size: 1.8rem;
}

#review::before {
    content: "";
    background: url('th.jpg');
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
    opacity: 1;
}

.iteams-review {
    /* border: 2px solid red; */
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-evenly;

}

#review h1 {
    /* border: 2px solid red; */
    text-align: center;
    background-color: #f2f2f2;
    padding: 6px;
}

.client {
    border: 2px solid rebeccapurple;
    border-radius: 25px;
    background-color: #ffffffec;
    margin: 28px;
    padding: 10px;
    text-align: center;
}

#review img {
    height: 100px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 1000px;
}

.before-footer {
    /* border: 2px solid red; */
    position: relative;
    top: 144px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(20, 20, 20);
    color: whitesmoke;
    align-items: center;
    justify-content: space-evenly;

}

#notes {
    border: 2px solid red;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    width: 26%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#notes img {
    /* border: 2px solid red; */
    height: 50px;
    margin: 10px;
}

#img-h3 {
    /* border: 2px solid red; */
    position: relative;
    bottom: 12px;
}

#notes h3 {
    /* border: 2px solid red; */
    display: block;
}


#notes p {
    border-top: 2px solid rgb(255, 0, 0);
    align-content: center;
    font-size: 1.4rem;
}

.forms {
    /* border: 2px solid red; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    align-items: center;
    font-size: 22px;
    color: #000;
    background: url('images.jpg') no-repeat center center/cover;
}

.forms input {
    margin: 10px;
    border-radius: 8px;
    padding: 6px;
}

.forms h4 {
    margin: 10px;
    /* color: #00ffb3; */
}

.btn-footer {
    /* border: 2px solid red; */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding: 5px;
}

#submit {
    border: 2px solid #92c99b;
    margin: 6px;
    background-color: #92c99b;
}

#reset {
    border: 2px solid #bdb5b5;
    margin: 6px;
    background-color: #bdb5b5;
}

#submit:hover {
    color: whitesmoke;
}

#reset:hover {
    color: whitesmoke;
}

#social-media {
    border: 2px solid red;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 20px;
}

#social-media a {
    border-bottom: 2px solid red;
    width: 100px;
    text-align: center;
    margin: 6px;
}

#social-media h1 {
    border-bottom: 2px solid red;
}

.footer {
    /* border: 2px solid red; */
    /* color: #f2f2f2; */
    position: relative;
    top: 140px;
    height: 28px;
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}